<div class="about" id="about" cdkDrag cdkDragBoundary=".desktop" [ngStyle]="{'z-index': aboutzindex}">
  <div class="header" cdkDragHandle>
    <p>About</p>
    <div class="operations">
      <div class="min" (click)="min()">
        &#95;
      </div>
      <div class="close" (click)="close()">
        X
      </div>
    </div>
  </div>
  <div class="content">
    <img src="assets/img/aboutlogo.png">
    <p>Dots & Pix is an annual design and technology conference organised by the city of Brussels.<br>
      This year it is being hosted in Bozar on the 2nd of October.<br>
      Design and technology get all the attention they deserve at this conference.<br>
      This event is a must for all designers, developers and students!
    </p>
  </div>
</div>
