<div class="about">
  <div class="header">
    <p>About</p>
    <div class="close" (click)="close()">
      X
    </div>
  </div>
  <div class="content">
    <img src="assets/img/windowslogo.png">
    <p>Dots & Pix is a design and technology conference organised by the city of Brussels.<br>
      This year it is being hosted in Bozar on the 2nd of October.<br>
      At this conference, design and technology get all the attention they deserve.<br>
      This event is a must for all designers, developers and students!
    </p>
  </div>
</div>
