<div class="startbar" [ngClass]="clicked ? 'active' : ''">
  <div class="title" *ngIf="OSName == 'Windows'">
    <p>Dots & Pix</p>
  </div>
  <div class="startlist" *ngIf="OSName == 'Windows'">
    <ul>
      <li (click)="clickTickets()"><img src="assets/img/tickets.png"><span>G</span>et Tickets</li>
      <li (click)="clickCoachingSessions()"><img src="assets/img/coachingsessions.png"><span>C</span>oaching Sessions</li>
      <li (click)="clickProgram()"><img src="assets/img/program.png"><span>P</span>rogram</li>
      <li (click)="clickPractical()"><img src="assets/img/practical.png"><span>P</span>ractical</li>
      <li (click)="clickAbout()"><img src="assets/img/about.png"><span>A</span>bout</li>
      <li (click)="clickPartners()"><img src="assets/img/partners.png"><span>P</span>artners</li>
      <hr>
      <li class="switch" (click)="switchOS('Mac')"><p>Switch to Mac</p></li>
      <hr>
      <a [routerLink]="['/documentation']"><li class="documentation"><p>Documentation</p></li></a>
    </ul>
  </div>
  <div class="startlist" *ngIf="OSName == 'Mac'">
    <ul>
      <a [routerLink]="['/documentation']"><li class="documentation"><p>Documentation</p></li></a>
      <hr>
      <li class="switch" (click)="switchOS('Windows')"><p>Switch to Windows</p></li>
      <hr>
      <li (click)="clickTickets()"><img src="assets/img/ticketsmac.png"><span>G</span>et Tickets</li>
      <li (click)="clickCoachingSessions()"><img src="assets/img/coachingsessionsmac.png"><span>C</span>oaching Sessions</li>
      <li (click)="clickProgram()"><img src="assets/img/programmac.png"><span>P</span>rogram</li>
      <li (click)="clickPractical()"><img src="assets/img/practicalmac.png"><span>P</span>ractical</li>
      <li (click)="clickAbout()"><img src="assets/img/aboutmac.png"><span>A</span>bout</li>
      <li (click)="clickPartners()"><img src="assets/img/partnersmac.png"><span>P</span>artners</li>
    </ul>
  </div>
</div>
<div class="taskbar">
  <div class="start" (click)="startClick()" [ngClass]="clicked ? 'clicked' : ''">
    <img src="assets/img/taskbarlogo.png" *ngIf='OSName == "Windows"'>
    <img src="assets/img/taskbarlogomac.png" *ngIf='OSName == "Mac"'>
    <ng-container *ngIf='OSName == "Windows"'>
      Start
    </ng-container>
  </div>
  <span class="line" *ngIf='OSName == "Windows"'></span>
  <div class="windows" *ngIf="OSName == 'Windows'">
    <div *ngIf="programActive" (click)="clickProgram()" [ngClass]="programzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/program.png">Program</div>
    <div *ngIf="practicalActive" (click)="clickPractical()" [ngClass]="practicalzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/practical.png">Practical</div>
    <div *ngIf="aboutActive" (click)="clickAbout()" [ngClass]="aboutzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/about.png">About</div>
    <div *ngIf="partnersActive" (click)="clickPartners()" [ngClass]="partnerszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/partners.png">Partners</div>
    <div *ngIf="ticketsActive" (click)="clickTickets()" [ngClass]="ticketszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/tickets.png">Tickets</div>
    <div *ngIf="coachingSessionsActive" (click)="clickCoachingSessions()" [ngClass]="coachingsessionszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/coachingsessions.png">Coaching</div>
  </div>
  <div class="windows" *ngIf="OSName == 'Mac'">
    <button *ngIf="programActive" (click)="clickProgram()" [ngClass]="programzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/programmac.png">Program</button>
    <button *ngIf="practicalActive" (click)="clickPractical()" [ngClass]="practicalzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/practicalmac.png">Practical</button>
    <button *ngIf="aboutActive" (click)="clickAbout()" [ngClass]="aboutzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/aboutmac.png">About</button>
    <button *ngIf="partnersActive" (click)="clickPartners()" [ngClass]="partnerszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/partnersmac.png">Partners</button>
    <button *ngIf="ticketsActive" (click)="clickTickets()" [ngClass]="ticketszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/ticketsmac.png">Tickets</button>
    <button *ngIf="coachingSessionsActive" (click)="clickCoachingSessions()" [ngClass]="coachingsessionszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/coachingsessionsmac.png">Coaching</button>
  </div>
  <div class="time inset">
    <p>{{formattedTime}}</p>
  </div>
</div>
