<div class="startbar" [ngClass]="clicked ? 'active' : ''">
  <div class="title" *ngIf="OSName == 'Windows'">
    <p>Dots & Pix</p>
  </div>
  <div class="startlist" *ngIf="OSName == 'Windows'">
    <ul>
      <li (click)="clickTickets()"><img src="assets/img/tickets.png"><span>G</span>et Tickets</li>
      <li (click)="clickProgram()"><img src="assets/img/program.png"><span>P</span>rogram</li>
      <li (click)="clickPractical()"><img src="assets/img/practical.png"><span>P</span>ractical</li>
      <li (click)="clickAbout()"><img src="assets/img/about.png"><span>A</span>bout</li>
      <li (click)="clickPartners()"><img src="assets/img/partners.png"><span>P</span>artners</li>
      <hr>
      <li class="switch" (click)="switchOS('Mac')"><p>Switch to Mac</p></li>
    </ul>
  </div>
  <div class="startlist" *ngIf="OSName == 'Mac'">
    <ul>
      <li class="switch" (click)="switchOS('Windows')"><p>Switch to Windows</p></li>
      <hr>
      <li (click)="clickTickets()"><img src="assets/img/ticketsmac.png"><span>G</span>et Tickets</li>
      <li (click)="clickProgram()"><img src="assets/img/programmac.png"><span>P</span>rogram</li>
      <li (click)="clickPractical()"><img src="assets/img/practicalmac.png"><span>P</span>ractical</li>
      <li (click)="clickAbout()"><img src="assets/img/aboutmac.png"><span>A</span>bout</li>
      <li (click)="clickPartners()"><img src="assets/img/partnersmac.png"><span>P</span>artners</li>
    </ul>
  </div>
</div>
<div class="taskbar">
  <button class="start" (click)="startClick()" [ngClass]="clicked ? 'clicked' : ''">
    <img src="assets/img/taskbarlogo.png" *ngIf='OSName == "Windows"'>
    <img src="assets/img/taskbarlogomac.png" *ngIf='OSName == "Mac"'>
    <ng-container *ngIf='OSName == "Windows"'>
      Start
    </ng-container>
  </button>
  <span class="line" *ngIf='OSName == "Windows"'></span>
  <div class="windows" *ngIf="OSName == 'Windows'">
    <button *ngIf="programActive" (click)="clickProgram()" [ngClass]="programzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/program.png">Program</button>
    <button *ngIf="practicalActive" (click)="clickPractical()" [ngClass]="practicalzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/practical.png">Practical</button>
    <button *ngIf="aboutActive" (click)="clickAbout()" [ngClass]="aboutzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/about.png">About</button>
    <button *ngIf="partnersActive" (click)="clickPartners()" [ngClass]="partnerszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/partners.png">Partners</button>
    <button *ngIf="ticketsActive" (click)="clickTickets()" [ngClass]="ticketszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/tickets.png">Tickets</button>
  </div>
  <div class="windows" *ngIf="OSName == 'Mac'">
    <button *ngIf="programActive" (click)="clickProgram()" [ngClass]="programzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/programmac.png">Program</button>
    <button *ngIf="practicalActive" (click)="clickPractical()" [ngClass]="practicalzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/practicalmac.png">Practical</button>
    <button *ngIf="aboutActive" (click)="clickAbout()" [ngClass]="aboutzindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/aboutmac.png">About</button>
    <button *ngIf="partnersActive" (click)="clickPartners()" [ngClass]="partnerszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/partnersmac.png">Partners</button>
    <button *ngIf="ticketsActive" (click)="clickTickets()" [ngClass]="ticketszindex == zindex+2 ? 'clicked' : ''"><img src="assets/img/ticketsmac.png">Tickets</button>
  </div>
  <div class="time inset">
    <p>{{formattedTime}}</p>
  </div>
</div>
