<div class="window" id="program" cdkDrag cdkDragBoundary=".desktop" [ngStyle]="{'z-index': programzindex}">

  <div class="header" cdkDragHandle *ngIf="OSName == 'Windows'">
    <div class="headertitle">
      <img src="assets/img/program.png">
      <p *ngIf="showProgram">Program</p>
      <p *ngIf="isLoading">Program</p>
      <p *ngIf="showSpeaker">Program - {{speaker.name}}</p>
      <p *ngIf="showSession">Program - {{session.title}}</p>
    </div>
    <div class="operations">
      <div class="minimize" (click)="min()">
        &#95;
      </div>
      <div class="close" (click)="close()">
        X
      </div>
    </div>
  </div>

  <div class="header" cdkDragHandle *ngIf="OSName == 'Mac'">
    <div class="operations">
      <div class="close" (click)="close()">
        X
      </div>
      <div class="minimize" (click)="min()">
        &#95;
      </div>
    </div>
    <div class="rows">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
    <div class="headertitle">
      <p *ngIf="showProgram">Program</p>
      <p *ngIf="isLoading">Program</p>
      <p *ngIf="showSpeaker">Program - {{speaker.name}}</p>
      <p *ngIf="showSession">Program - {{session.title}}</p>
    </div>
    <div class="rows">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </div>

  <div class="content">
    <div class="loading" *ngIf="isLoading">
      <div class="loadcontainer">
        <div class="loaditem"></div>
        <div class="loaditem"></div>
        <div class="loaditem"></div>
        <div class="loaditem"></div>
      </div>
    </div>
    <div *ngIf="error">
      <p class="error">No connection could be made. Please ensure the back-end is up and running.</p>
    </div>
    <div *ngIf="showProgram">
      <div>
        <p>Friday October 2nd, 2020</p>
      </div>
      <div class="table">
          <div *ngFor="let session of data" [ngStyle]="{'grid-area': getArea(session.time_start, session.time_end)}" class="slot">
            <div class="sessioncolor" [ngStyle]="{'background-color': getColor(session.id)}">

            </div>
            <div class="name">
              <p *ngFor="let slot of getSlots(session.time_start, session.time_end)"><span (click)="clickSpeaker(session.speaker.id)">{{session.speaker.name}}</span> - <span (click)="clickSession(session.id)">{{session.title}}</span></p>
            </div>
          </div>
          <div class="slot" *ngFor="let slot of remainingSlots">
            <!-- filler slots to get the dotted borders -->
          </div>
          <div class="hr" *ngFor="let hour of hours" [ngStyle]="{'grid-area': 'hr'+hour}">
            <h2>{{hour}}</h2>
          </div>
          <div class="min" *ngFor="let minute of minutes" [ngStyle]="{'grid-area': 'min'+minute}">
            <h3>{{":" + (minute | slice:2:4)}}</h3>
          </div>
      </div>
    </div>

    <div *ngIf="showSpeaker" class="scroll">
      <div class="return">
        <span (click)="clickReturn()"><p>Return to program</p></span>
      </div>
      <div class="detailcontent">
        <div class="speakerheader">
          <img src="data:image/png;base64,{{speaker.profilepic}}">
          <div class="speakerkeywords">
            <h1>{{speaker.name}}</h1>
            <h2 *ngFor="let keyword of speaker.keywords | keyvalue">
              {{keyword.value}}
            </h2>
          </div>
          <a href="{{speaker.website}}" target="_blank"><button type="button">Website</button></a>
        </div>

        <p>{{speaker.description}}</p>

        <div class="speakerimages">
          <ng-container *ngFor="let image of speaker.keyimages | keyvalue">
            <img src="data:image/png;base64,{{image.value}}">
          </ng-container>
        </div>
      </div>
    </div>

    <div *ngIf="showSession" class="scroll">
      <div class="return">
        <span (click)="clickReturn()"><p>Return to program</p></span>
      </div>
      <div class="detailcontentsession">
        <div class="sessionheader">
          <div>
            <h1>{{session.title}}</h1>
            <h2>by <span (click)="clickSpeaker(session.speaker.id)">{{session.speaker.name}}</span></h2>
          </div>
        </div>
        <div class="sessioninfo">
          <h3>When?</h3>
          <h4>{{session.time_start}} - {{session.time_end}}</h4>
        </div>
        <div class="sessioninfo">
          <h3>Where?</h3>
          <h4>{{session.location}}</h4>
        </div>
        <p>{{session.description}}</p>
      </div>
    </div>

  </div>
</div>
