#program{
  left: 5%;
  top: 3%;
}

.close, .minimize{
  height: 20px;
  width: 20px;
  background-color: #C0C0BF;
  margin-right: 5px;
  border-style: outset;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover, .minimize:hover{
  cursor: pointer;
}

.content{
  text-align: center;
}

.content p{
  font-size: 12px;
  text-align: left;
  padding: 20px;
}

.loading{
  width: 300px;
  height: 30px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.loadcontainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left:  25%;
  animation: loading 3.5s infinite steps(15);
}

.loaditem{
  background-color: black;
  height: 80%;
  width: 4%;
  display: inline-block;
  margin: 0 1%;
}

@keyframes loading{
  0%{
    left: -30%;
  }
  100%{
    left: 100%;
  }
}

.error{
  padding: 20px;
  padding-top: 0;
  animation: typing 3.5s steps(40, end);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.table{
  display: grid;
  grid-template-columns: 50px 30px auto;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-template-areas:
    "hr9 min0900 slot0900"
    "hr9 min0930 slot0950"
    "hr10 min1000 slot1000"
    "hr10 min1030 slot1050"
    "hr11 min1100 slot1100"
    "hr11 min1130 slot1150"
    "hr12 min1200 slot1200"
    "hr12 min1230 slot1250"
    "hr13 min1300 slot1300"
    "hr13 min1330 slot1350"
    "hr14 min1400 slot1400"
    "hr14 min1430 slot1450"
    "hr15 min1500 slot1500"
    "hr15 min1530 slot1550"
    "hr16 min1600 slot1600"
    "hr16 min1630 slot1650"
    "hr17 min1700 slot1700"
    "hr17 min1730 slot1750"
    "hr18 min1800 slot1800"
    "hr18 min1830 slot1850";
  padding-top: 0;
  border: 1.5px solid black;
  border-bottom: 2px solid black;
  margin: 20px;
  margin-top: 0;
  width: 700px;
  background-color: #e9e942;
}

.hr{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C0C0BF;
  border-bottom: 1px solid black;
}

.hr h2{
  font-size: 17px;
}

.min{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: span 1;
  background-color: #C0C0BF;
  padding-right: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.min h3{
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  margin: 2px 0;
}

.slot{
  display: flex;
  align-items: center;
  border-bottom: 1.5px dotted rgb(121, 121, 121);
}

.slot p{
  padding: 0;
  font-size: 10px;
  margin: 4px 0;
}

.name{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.sessioncolor{
  height: 80%;
  width: 7px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: blue;
}

span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.detailcontent, .detailcontentsession{
  padding: 20px;
  padding-top: 0;
  max-width: 40vw;
}

.detailcontentsession{
  padding-bottom: 0;
  text-align: left;
}

.speakerheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.speakerheader img{
  height: 150px;
  width: 30%;
  object-fit: cover;
  border: 1px solid black;
}

.detailcontent p, .detailcontentsession p{
  padding: 20px;
  margin: 40px 0;
  background-color: lightgray;
  border-style: inset;
  font-size: 11px;
}

.detailcontentsession p{
  margin: 30px 0 20px 0;
}

.speakerimages{
  display: flex;
  justify-content: space-between;
}

.speakerimages img{
  height: 150px;
  width: 30%;
  object-fit: cover;
  box-shadow: 2px 2px 0px #e41788;
}

.speakerkeywords{
  text-align: left;
}

.speakerkeywords h1{
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 10px;
}

.speakerkeywords h2{
  margin: 5px 30px;
  font-weight: normal;
  font-size: 12px;
}

.scroll{
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

button{
  border-style: outset;
  background-color: #C0C0BF;
  padding: 10px;
  font-size: 12px;
}

button:hover{
  cursor: pointer;
}

button:active{
  border-style: inset;
}

button:focus{
  outline: 0;
}

.return{
  background-color: lightgray;
  margin-bottom: 20px;
}

.sessionheader div{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.sessionheader h1{
  font-weight: normal;
  font-size: 15px;
}

.sessionheader h2{
  font-weight: normal;
  font-size: 12px;
  color: rgb(78, 78, 78);
}

.sessioninfo{
  text-align: left;
  margin-top: 30px;
  margin-right: 40px;
  display: inline-block;
}

.sessioninfo h3{
  font-size: 10px;
  color: #211452;
  font-weight: normal;
}

.sessioninfo h4{
  font-size: 12px;
  color: #e41788;
  margin-top: 5px;
  font-weight: normal;
}
