/* STYLES FOR BOTH WINDOWS AND MAC */

body{
  background-color: black;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.desktop{
  overflow: hidden;
}

.outset{
  border-style: outset;
}

.inset{
  border-style: inset;
}

.header:hover{
  cursor: move;
}
