<div class="window" id="partners" cdkDrag cdkDragBoundary=".desktop" [ngStyle]="{'z-index': partnerszindex}">

  <div class="header" cdkDragHandle *ngIf="OSName == 'Windows'">
    <div class="headertitle">
      <img src="assets/img/partners.png"><p>Partners</p>
    </div>
    <div class="operations">
      <div class="min" (click)="min()">
        &#95;
      </div>
      <div class="close" (click)="close()">
        X
      </div>
    </div>
  </div>

  <div class="header" cdkDragHandle *ngIf="OSName == 'Mac'">
    <div class="operations">
      <div class="close" (click)="close()">
        X
      </div>
      <div class="min" (click)="min()">
        &#95;
      </div>
    </div>
    <div class="rows">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
    <div class="headertitle">
      <p>Partners</p>
    </div>
    <div class="rows">
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </div>

  <div class="content">
    <div class="loading" *ngIf="isLoading">
      <div class="loadcontainer">
        <div class="loaditem"></div>
        <div class="loaditem"></div>
        <div class="loaditem"></div>
        <div class="loaditem"></div>
      </div>
    </div>
    <div *ngIf="error">
      <p class="error">No connection could be made. Please ensure the back-end is up and running.</p>
    </div>
    <div *ngIf="!isLoading" class="extrapadding">
      <div class="gold">
        <h2>Gold</h2>
        <a *ngFor='let partner of gold' href="{{partner.website}}" target="_blank">
          <img src="data:image/png;base64,{{partner.img}}">
        </a>
      </div>
      <div class="silver">
        <h2>Silver</h2>
        <a *ngFor='let partner of silver' href="{{partner.website}}" target="_blank">
          <img src="data:image/png;base64,{{partner.img}}">
        </a>
      </div>
      <div class="bronze">
        <h2>Bronze</h2>
        <a *ngFor='let partner of bronze' href="{{partner.website}}" target="_blank">
          <img src="data:image/png;base64,{{partner.img}}">
        </a>
      </div>
    </div>
    </div>
</div>

