.partners{
  position: absolute;
  left: 20%;
  top: 20%;
  background-color: #C0C0BF;
  border-style: outset;
}

.header{
  width: 99%;
  margin-left: 0.5%;
  margin-top: 0.5%;
  height: 35px;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p{
  color: white;
  margin-left: 5px;
  padding: 0;
}

.close{
  height: 20px;
  width: 20px;
  background-color: #C0C0BF;
  margin-right: 5px;
  border-style: outset;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover{
  cursor: pointer;
}

.content{
  text-align: center;
  padding: 20px;
}

p{
  font-size: 12px;
  text-align: left;
  padding: 30px;
  padding-top: 0;
}

h2{
  text-align: left;
  font-size: 14px;
  margin: 20px 0;
  margin-left: 20px;
}

img{
  height: 80px;
  margin: 0 30px;
}

.gold h2{
  color: darkgoldenrod;
}

.silver h2{
  color: gray;
}

.bronze h2{
  color: brown;
}
