<ul id="desktopicons">
  <li (dblclick)="clickProgram()" tabindex="1" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/program.png" *ngIf="OSName == 'Windows'">
    <img src="assets/img/programmac.png" *ngIf="OSName == 'Mac'">
    <p>Program</p>
  </li>
  <li (dblclick)="clickPractical()" tabindex="2" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/practical.png" *ngIf="OSName == 'Windows'">
    <img src="assets/img/practicalmac.png" *ngIf="OSName == 'Mac'">
    <p>Practical</p>
  </li>
  <li (dblclick)="clickAbout()" tabindex="3" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/about.png" *ngIf="OSName == 'Windows'">
    <img src="assets/img/aboutmac.png" *ngIf="OSName == 'Mac'">
    <p>About</p>
  </li>
  <li (dblclick)="clickPartners()" tabindex="4" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/partners.png" *ngIf="OSName == 'Windows'">
    <img src="assets/img/partnersmac.png" *ngIf="OSName == 'Mac'">
    <p>Partners</p>
  </li>
  <li (dblclick)="clickTickets()" class="tickets" tabindex="5" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/tickets.png" *ngIf="OSName == 'Windows'">
    <img src="assets/img/ticketsmac.png" *ngIf="OSName == 'Mac'">
    <p>Get Tickets</p>
  </li>
  <li (dblclick)="clickCoachingSessions()" class="coachingsessions" tabindex="6" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/coachingsessions.png" *ngIf="OSName == 'Windows'">
    <img src="assets/img/coachingsessionsmac.png" *ngIf="OSName == 'Mac'">
    <p>Coaching Sessions</p>
  </li>
</ul>
