<ul>
  <li (dblclick)="clickProgram()" tabindex="1" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/program.png">
    <p>Program</p>
  </li>
  <li (dblclick)="clickPractical()" tabindex="2" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/practical.png">
    <p>Practical</p>
  </li>
  <li (dblclick)="clickAbout()" tabindex="3" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/about.png">
    <p>About</p>
  </li>
  <li (dblclick)="clickPartners()" tabindex="4" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/partners.png">
    <p>Partners</p>
  </li>
  <li (dblclick)="clickTickets()" class="tickets" tabindex="5" cdkDrag cdkDragBoundary=".desktop">
    <img src="assets/img/tickets.png">
    <p>Get Tickets</p>
  </li>
</ul>
