ul{
  list-style-type: none;
  margin: 30px;
  display: inline-block;
}

li{
  margin-bottom: 20px;
  text-align: center;
  padding: 7px;
  border: 1.5px dotted transparent;
}

li:focus{
  border: 1.5px dotted darkgray;
  outline: 0;
}

li img{
  width: 40px;
}

li p{
  color: white;
  margin-top: 5px;
  font-size: 12px;
}

li:hover{
  cursor: pointer;
  background-color: rgb(77, 77, 255);
}

li:active{
  background-color: blue;
}

.tickets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
}
