<div class="practical" id="practical" cdkDrag cdkDragBoundary=".desktop" [ngStyle]="{'z-index': practicalzindex}">
  <div class="header" cdkDragHandle>
    <p>Practical</p>
    <div class="close" (click)="close()">
      X
    </div>
  </div>
  <div class="content">
    <div class="info">
      <img src="assets/img/bozarlogo.png" alt="Bozar">
      <p>Centre for Fine Arts<br>
      Rue Ravensteinstraat 23<br>
      1000 Brussels</p>
      <p>Friday October 2nd,<br>
      2020</p>
    </div>
    <div class="internet">
      <h1><a href="https://www.bozar.be/en/static-pages/54514-access" target="_blank">https://www.bozar.be/en/static-pages/54514-access</a></h1>
      <hr>
      <div>
        <h2>PUBLIC TRANSPORT</h2>
        <p>Train : Brussels Central Station. <a href="http://www.thetrain.be" target="_blank">www.thetrain.be</a>, <a href="https://www.belgiantrain.be/en/leisure/b-excursions/art-culture" target="_blank">B-Excursions</a></p>
        <p>Underground : Line 1 - 5, stations Gare centrale/Brussel-Centraal or Parc/Park<br>
          Tram : 92 - 94, station Palais/Paleizen<br>
          Bus : 27 – 29 – 34 – 38 – 63 – 65 – 66 – 71 – 71N – 95, station Bozar</p>
        <p>Car-share : <a href="http://www.djengo.be" target="_blank">www.djengo.be</a>, <a href="http://www.cambio.be" target="_blank">www.cambio.be</a><br>
          Cycling : <a href="http://www.villo.be" target="_blank">www.villo.be</a></p>
        <h2>PARKING</h2>
        <p>Are you looking for a parking space for your car or bus ? On <a href="https://www.google.com/maps/d/u/0/viewer?mid=1k3iH5d6oK3SCH1ZyiezvCmGM6Ak&ll=50.842238216517956%2C4.356556350000005&z=16" target="_blank">this map</a>, you will find all public parking places at 5 to 10 minutes walking distance from the Centre for Fine Arts.</p>
      </div>
    </div>
  </div>
</div>
