#practical{
  left: 5%;
  top: 1%;
  max-width: 45vw;
}

.close, .min{
  height: 20px;
  width: 20px;
  background-color: #C0C0BF;
  margin-right: 5px;
  border-style: outset;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.min:hover{
  cursor: pointer;
}

.practical .header{
  width: 99%;
  margin-left: 0.5%;
  margin-top: 0.5%;
  height: 35px;
  background-color: 	rgb(63, 94, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p{
  color: white;
  margin-left: 5px;
  padding: 0;
}

.operations{
  display: flex;
}

.close, .min{
  height: 20px;
  width: 20px;
  background-color: #C0C0BF;
  margin-right: 5px;
  border-style: outset;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover, .min:hover{
  cursor: pointer;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content img{
  height: 20vh;
  padding: 30px;
}

.content p{
  font-size: 12px;
  text-align: left;
  padding: 30px;
  padding-top: 0;
}

.internet{
  width: 94%;
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
  padding-bottom: 2%;
}

.content{
  padding-bottom: 3%;
}

.internet hr{
  border: 0.7px solid black;
}

.internet h1{
  font-size: 12px;
  text-align: left;
  padding: 7px 20px;
  font-weight: normal;
}

.internet h2{
  color: 	rgb(172, 124, 78);
  font-size: 12px;
  margin-top: 30px;
  margin-left: 50px;
  text-align: left;
}

.internet p{
  margin-top: 15px;
  margin-left: 70px;
  padding: 0;
  padding-right: 20px;
}

.internet div{
  padding-bottom: 20px;
}
